main .selection{
    text-align: center;
}
 h2{
    color: #B3110F;
    margin-top: 100px;
    margin-bottom: 30px;
} 
.imageVehicule img{
    width:260px;
    margin-left: 10px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 3px grey);
    transition: 1s;
}
.imageVehicule img:hover{
    transform: scale(1.07);
}
input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #B3110F;
    background-color: #e7e6e7;
    border-radius: 50%;
  }
  input[type="radio"]:checked {
    background-color: #B3110F;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .radios{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
  }
  .radios label{
      color: #B3110F;
      font-weight: 700;
      padding-right: 80px;
  }
  #jour{
    background-color: #F6F6F6;
    border: none;
    border-bottom: 2px solid #B3110F;
    width: 200px;
    height: 20px;
    font-size: 15px;
    margin-right: 30px;;
}
.btn{
    background-color:#F6F6F6;
    border: 3px solid #B3110F ;
    border-radius: 50px;
    width: 150px;
    color:#B3110F;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    /* pointer-events: none; */
}


.btn:hover{
    color:#F6F6F6;
    background-color:#B3110F;
}
.facture h4{
    color: #B3110F;
    text-align: start;
    margin-left: 10%;
}
.devi{
    background-color: #B3110F;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
    text-align: center;
    
}
.devi label{
    color:#F6F6F6;
    /* margin:  100px; */
    
}
.ligne{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}
.btn2{
    background-color:#B3110F;
    border: 3px solid #F6F6F6 ;
    border-radius: 50px;
    width: 150px;
    color:#F6F6F6;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}
.btn2:hover{
    color:#B3110F;
    background-color:  #F6F6F6;
}
/* .facture{
    display: none;
} */
@media screen and (max-width:800px){
    ul{
        position: relative;
    }
    .imageVehicule img{
        height:  200px;
        width: auto;
    }
    .imageVehicule{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin-bottom: -20px;
        height: 300px;
    }
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    .radios{
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 25%;
    }
    .flex{
        margin-bottom: 20px;
    }
    .ligne{
        padding-top: 0px;
        display: grid;
        grid-template-columns: auto;
    }
    .ligne label{
        padding-top: 40px;
    }
    #jour{
        width: 100px;
    }
}